
.income-month{
  grid-area: table;
}
.line-bar{
  grid-area: chart;
  /*background-color: #fdfefe;*/
  width: 100%;
  height: auto;
  /*box-shadow: 0px 2px 5px 0px rgba(0, 0, 0,0.5);*/
  border: 1px solid #cccccc;
  border-radius: 5px;
}


