.header-horizontal{
  width: 100%;
  height: 70px;
  border: 1px solid orange;
}
.header-vertical{
  width: 200px;
  border: 1px solid green;
}
.header-vertical h4{
  margin-top: 5px;
  text-align: center;
}
.header-vertical nav{
  margin-top: 10px;
  margin-left: 10px;
}
.header-vertical nav ul{
  list-style: none;
  /*border: 1px solid green;*/
}
.header-vertical nav ul li{
  height: 35px;
  display: flex;
  align-items: center;
}
.header-vertical nav ul li a{
  text-decoration: none;
  font-size: 1rem;
}
