@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
/*@import url(/css/dashboard.css);*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: "Poppins";
  background-color: #F2F6F6; /*#f5f5f5;*/
	/*border: 1px solid green;*/
  display: grid;
	grid-template-columns: 240px repeat(2,1fr);
	grid-template-rows: 50px 1fr 1fr;
	min-height: 100vh;
	grid-template-areas: 
	"sidebar header header"
	"sidebar main main"
	"sidebar main main";
  gap: 10px;
}

.header{
	grid-area: header;
	border: 1px solid green;
}
.sidebar{
	background-color: #6162a7;
	grid-area: sidebar;
}	
main{
	grid-area: main;
	padding-right: 50px;
	display: grid;
	grid-template-columns: 350px 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "table chart chart chart"
  "almacen almacen . .";
  gap: 12px;
	/*border: 1px solid black;*/
}

/* Menú lateral */
.sidebar{
	display: flex;
	justify-content: center;
}
.sidebar nav{
	margin-top: 100px;
	width: 180px;
}
.sidebar nav ul{
	list-style: none;
}
.sidebar nav ul li{
	/*border: 1px solid tomato;*/
	width: 100%;
	/*border-bottom: 1px solid #cccccc;*/
}
.sidebar nav ul li a{
	/*border: 1px solid black;*/
	height: 45px;
	padding-left: 10px;
	text-decoration: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	letter-spacing: normal;
	gap: 5px;
	color: #ffffff;
	font-size: 0.9rem;
	font-weight: 500;
	&:hover{
		background-color: #7677ac;
		color: #0e0e0e;
		border-radius: 5px;
		font-weight: 500;
	}
	&.active{
		background-color: #7677ac;
		border-radius: 5px;
	}
}
.sidebar nav ul li a img{
	width: 22px;
	height: 22px;
}

 /* dashboard content*/
 
 @media(min-width: 1600px){
	html{
		background-color: #f8f7f7;
	}
	body{
		max-width: 2000px;
		margin: 0 auto;
	}
	main{
		padding-right: 50px;
		grid-template-columns: 350px 1fr 1fr 1fr 1fr;
		grid-template-areas: 
		"table chart chart chart ."
		"almacen almacen . . .";
		gap: 12px;
	}
  
 }
 