@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: "Poppins", sans-serif;
    background-color: #f5f5f5;
    padding: 0px;
    border: 1px solid tomato;
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-areas: 'nav header header';
    gap: 10px;
  }
  .header{
    grid-column: 2 / -2;
  }
 
  


  
  




